.App {
  text-align: center;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi2oJrOjM_cAhXsmOAKHbONCWYQjRx6BAgBEAU&url=https%3A%2F%2Fneilpatel.com%2Fblog%2Flive-chat%2F&psig=AOvVaw3MF-8dlozj7FMGGF1Bahom&ust=1533324381667424");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
