body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi2oJrOjM_cAhXsmOAKHbONCWYQjRx6BAgBEAU&url=https%3A%2F%2Fneilpatel.com%2Fblog%2Flive-chat%2F&psig=AOvVaw3MF-8dlozj7FMGGF1Bahom&ust=1533324381667424");
}
